@font-face {
  font-family: "iconfont"; /* Project id 4809704 */
  src: url('iconfont.woff2?t=1736737684130') format('woff2'),
       url('iconfont.woff?t=1736737684130') format('woff'),
       url('iconfont.ttf?t=1736737684130') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e65d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

