@font-face {
    font-family: 'PingFang_Bold_0';
    src: url('./PingFang_Bold_0.ttf');
}
@font-face {
    font-family: 'PingFang_ExtraLight_0';
    src: url('./PingFang_ExtraLight_0.ttf');
}
@font-face {
    font-family: 'PingFang_Heavy_0';
    src: url('./PingFang_Heavy_0.ttf');
}
@font-face {
    font-family: 'PingFang_Light_0';
    src: url('./PingFang_Light_0.ttf');
}
@font-face {
    font-family: 'PingFang_Medium_0';
    src: url('./PingFang_Medium_0.ttf');
}
@font-face {
    font-family: 'PingFang_Regular_0';
    src: url('./PingFang_Regular_0.ttf');
}